*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: rgb(255, 248, 255); */
}

.title{
    text-align: center;
    font-size: 35px;
    font-style: italic;
    background-color: rgb(83, 0, 83);
    color: white;
    border: 5px solid rgb(36, 0, 36);
    border-radius: 50px;
}

.para{
    background-color: rgb(83, 0, 83, 0.2);
    color: rgb(0, 0, 0);
    padding: 10px;
}

.pic{
    width: 600px;
    margin: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
.pic {
    order: 2; /* Position the image on the right */
  }
  
.text {
    order: 1; /* Position the text on the left */
  }

.line{
    color: rgb(83, 0, 83);
}
  
.footer{
    text-align: center;
    background-color: rgb(83, 0, 83);
    color: white;
}

.link{
    text-decoration: none;  
    color: white;
}

.rec{
    width: 350px;
    height: 130px;
    background-color: rgb(53, 53, 255);
    border-style: dashed;
    border-width: 5px;
    border-color: rgb(0, 0, 56);
}

.circle{
    width: 250px;
    height: 250px;
    border-radius: 250px;
    background-color: rgb(150, 0, 0);
    margin: 0px 0px 0px 350px;
    border-style: groove;
    border-width: 5px;
    border-color: rgb(43, 0, 0);
}

.tri{
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 300px solid rgb(156, 156, 0);
    margin: 0px 0px 0px 700px;
    border-style: solid;
}

.square{
    width: 300px;
    height: 300px;
    background-color: rgb(0, 77, 0);
    margin: 0px 0px 0px 1020px;
    border-style: double;
    border-color: rgb(0, 39, 0);
    border-width: 5px;
}